*.pyc
*.venv
.venv
.vscode
.DS_Store
.idea
.mypy_cache
.mypy_cache/
.mypy_cache/*
.mypy_cache/__pycache__
.mypy_cache/__pycache__/*
.mypy_cache/__pycache__/__pycache__
.mypy_cache/__pycache__/__pycache__/*

frontend/src/components/ui/*.tsx
